{% extends "base.html" %}

{% load i18n curriculum_extras %}

{% block head_title %}Profile - {{object.username}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ object.username }}</h3>
            <div>{{ object.bio }}</div>
            <div>{{ object.location }}</div>
            <div>{{ object.occupation }}</div>
            <div><a href="{{ object.website }}">{% trans "Website" %}</a></div>
            <div><a href="{{ object.facebook }}">{% trans "Facebook" %}</a></div>
            <div><a href="{{ object.instagram }}">{% trans "Instagram" %}</a></div>
            <div><a href="{{ object.twitter }}">{% trans "Twitter" %}</a></div>
            <div><a href="{{ object.pintrest }}">{% trans "Pintrest" %}</a></div>
        </div>
    </div>
    {% if object.public_reviews %}
        <div class="row">
            <div class="col-12">
                {% if reviews %}
                    <h3>Latest Reviews</h3>
                    <h5><a href="{% url 'users:reviews' object.username %}">View All</a></h5>
                {% else %}
                    <p>No Reviews</p>
                {% endif %}
            </div>
        </div>
        <div class="row my-2">
            {% for review in reviews %}
                {% include 'reviews/card.html' with review=review detail=review.curriculum %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
