{% extends "base.html" %}

{% load curriculum_extras %}

{% block head_title %}User Profile - {{object.username}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ object.username }}</h3>
        </div>
    </div>
    {% if object.public_reviews %}
        <div class="row">
            <div class="col-12">
                {% if reviews %}
                    <h3>Latest Reviews</h3>
                    <h5><a href="{% url 'users:reviews' object.username %}">View All</a></h5>
                {% else %}
                    <p>No Reviews</p>
                {% endif %}
            </div>
        </div>
        <div class="row my-2">
            {% for review in reviews %}
                {% include 'reviews/card.html' with review=review detail=review.curriculum %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
