{% extends "users/base.html" %}

{% load curriculum_extras %}

{% block inner %}
    <h1>Favorites</h1>
    {% for curriculum in object_list %}
        <li class="media my-2">
            <img src="https://via.placeholder.com/64" class="mr-3" alt="{{ curriculum.name }}">
            <div class="media-body">
                <h5><a href="{% url 'curriculums:detail' curriculum.id %}">{{ curriculum.name }}</a></h5>
                <p>{{ curriculum.description }}</p>
                {% favorite_link curriculum %}
                {% if curriculum.avg_rating > 0 %}
                    <h6>Rating: {{ curriculum.avg_rating }}</h6>
                    {% star_rating curriculum.avg_rating %}
                {% else %}
                    No reviews
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endblock %}
