{% load curriculum_extras %}
<div class="row my-2">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-9 col-lg-10">
                        {% if detail %}<h5><a href="{% url 'curriculums:detail' detail.id %}">{{detail}}</a></h5>{% endif %}
                        {% include 'reviews/text.html' with review=review %}
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 d-flex flex-column">
                        <h5>Rating: {{review.rating}}</h5>
                        {% star_rating review.rating %}
                        {# TODO: Add review ranking based on feedback #}
                        {# {% include 'reviews/helpful.html' %} #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
