{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="shadow-sm rounded bg-white pt-5 pl-5 pr-5 pb-4">
  <h2 class="pb-3">Terms of Service</h2>
  <p>This web page represents our Terms of Service ("Agreement") regarding our website, located at <a
      href="{% url 'home' %}">firstpickhomeschool.com</a>,
    communications (e.g., emails, phone calls, and texts), events, and tools we provide you (collectively,
    the "Service"). The terms,
    "we" and "our" as used in this Agreement refer to First Pick Homeschool, LLC. (“You” and “your”) refer to you, as a
    user of the Service. A (“user”) is someone who accesses or in any way uses the Service.</p>
  <p>We may amend this Agreement at any time by posting the amended terms on our website. We may or may not post notices
    on the homepage of our website when such changes occur. This Agreement was last posted on <b>20 June 2020</b>.</p>
  <p>We refer to this Agreement, our Privacy Policy accessible at <a
      href="{% url 'privacy_policy' %}">https://firstpickhomeschool.com/legal/privacy-policy</a>,
    and any other
    terms, rules, or guidelines for our Service collectively as our "Legal Terms." You explicitly and implicitly agree
    to
    be bound by our Legal Terms each time you access our Service. If you do not wish to be so bound, please do not use
    or access our Service.</p>
  <p class="h5 text-muted pt-3 pb-3"><strong>Using the Website or Service</strong></p>
  <p><b>Eligibility.</b> To access or use the Service, you must have the requisite power and authority to
    enter into
    these Legal Terms. You may not access or use the Service if we
    have previously banned
    you from the Service or closed your Account.</p>
  <p><b>Permission.</b> We grant you permission to use the Service subject to these Legal Terms.
    Your use
    of the Service is at your own risk, including the risk that you might be exposed to Content that is offensive,
    indecent, inaccurate, objectionable, incomplete, fails to provide adequate warning about potential risks or hazards,
    or is otherwise inappropriate.</p>
  <p><b>Availability.</b> The Service may be modified, updated, interrupted, suspended or discontinued at any time
    without notice or liability.</p>
  <p><b>Accounts.</b> You must create an Account and provide certain information about yourself in order to use some of
    the features that are offered through the Service. You are responsible for maintaining the confidentiality of your
    Account password. You are also responsible for all activities that occur in connection with your Account. You agree
    to notify us immediately of any unauthorized use of your Account. We reserve the right to close your Account at any
    time for any or no reason. You may not impersonate someone else, provide an email address other than your own,
    create multiple Accounts, or transfer your account to another person without First Pick Homeschool, LLC’s prior
    approval. </p>
  <p><b>Communications.</b> By accessing or using the Service, you consent to
    receive
    communications from other users and First Pick Homeschool, LLC through the Service, or through any other means such
    as emails, push
    notifications, text messages (including SMS and MMS), and phone calls. These communications may promote First Pick
    Homeschool, LLC or
    businesses listed on First Pick Homeschool, LLC, and may be initiated by First Pick Homeschool, LLC, businesses
    listed on First Pick Homeschool, LLC, or other users. You further
    understand that communications may be sent using an automatic telephone dialing system, and that you may be charged
    by your phone carrier for certain communications such as SMS messages or phone calls. You agree to notify us
    immediately if the phone number(s) you have provided to us have been changed or disconnected. Please note that any
    communications, including phone calls, with First Pick Homeschool, LLC or made through the Service may be monitored
    and recorded for
    quality purposes.
    You can opt-out of certain communications here.</p>
  <p class="h5 text-muted pt-3 pb-3"><strong>Content Disclaimer</strong></p>
  <p>Postings on our website are made at such times as First Pick Homeschool, LLC determines in its discretion. You
    should not assume
    that the information contained on our website has been updated or otherwise contains current information. First Pick
    Homeschool, LLC
    does not review past postings to determine whether they remain accurate and information contained in such postings
    may have been superseded. THE INFORMATION AND MATERIALS IN OUR WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE
    WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH HEREIN. THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE
    COMPLETE, CORRECT OR UP TO DATE. THESE MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.</p>
  <p><b>Responsibility for Your Content.</b> You alone are responsible for Your Content, and once posted to our Service,
    it cannot always be
    withdrawn. You assume all
    risks associated with Your Content, including anyone’s reliance on its quality, accuracy, or reliability, and any
    risks associated with personal information you disclose. You represent that you own or have the necessary
    permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is
    in any way sponsored or endorsed by First Pick Homeschool, LLC.
    You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally
    misleading, or defamatory; violates any third-party right, including any copyright, trademark, service mark, patent,
    trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary
    right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms
    minors; violates or advocates the violation of any law or regulation; or violates these Legal Terms.</p>
  <p><b>Our Right to Use Your Content.</b> We may use Your Content in a number of different ways, including by publicly
    displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from
    it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and
    media platforms (“Other Media”). As such, you hereby irrevocably grant us world-wide, perpetual, non-exclusive,
    royalty-free, assignable, sublicensable, transferable rights to use Your Content for any purpose. Please note that
    you also irrevocably grant the users of the Service and any Other Media the right to access Your Content in
    connection with their use of the Service and any Other Media. Finally, you irrevocably waive, and cause to be
    waived, against First Pick Homeschool, LLC and its users any claims and assertions of moral rights or attribution
    with respect to Your
    Content. By “use” we mean use, copy, publicly perform and display, reproduce, distribute, modify, translate, remove,
    analyze, commercialize, and prepare derivative works of Your Content.</p>
  <p><b>Ownership.</b> As between you and First Pick Homeschool, LLC, you own Your Content. We own the First Pick
    Homeschool, LLC Content, including but not limited
    to visual interfaces, interactive features, graphics, design, compilation (including, but not limited to, our
    selection, coordination, aggregation, and arrangement of User Content and other Service Content), computer code,
    products, software, aggregate star ratings, and all other elements and components of the Service excluding Your
    Content, User Content and Third Party Content. We also own the copyrights, trademarks, service marks, trade names,
    trade secrets, and other intellectual and proprietary rights throughout the world associated with the First Pick
    Homeschool, LLC Content, Website,
    and the Service, which are protected by copyright, trade dress, patent, trademark, and trade secret laws and all
    other applicable intellectual and proprietary rights and laws. As such, you may not sell, license, copy, publish,
    modify, reproduce, distribute, create derivative works or adaptations of, publicly display or in any way use or
    exploit any of the First Pick Homeschool, LLC Content in whole or in part except as expressly authorized by us.
    Except as expressly and
    unambiguously provided herein, we do not grant you any express or implied rights, and all rights in and to the
    Website,
    Service, and the First Pick Homeschool, LLC Content are retained by us.</p>
  <p><b>Advertising.</b> First Pick Homeschool, LLC may publicly display advertisements, paid content,
    and other information
    nearby or in association with Your Content. You are not entitled to any compensation for such advertisements. The
    manner, mode and extent of such advertising are subject to change without specific notice to you.</p>
  <p><b>Other.</b> User Content (including any that may have been created by users employed or contracted by First Pick
    Homeschool, LLC) does
    not necessarily reflect the opinion of First Pick Homeschool, LLC. Except as required by law, we have no obligation
    to retain or provide
    you with copies of Your Content, and we do not guarantee any confidentiality with respect to Your Content. We
    reserve the right to remove, screen, edit, or reinstate User Content at our sole discretion for any reason or no
    reason, and without notice to you.
  </p>
  <p class="h5 text-muted pt-3 pb-3"><strong>Copyrights and Trademarks</strong></p>
  <p>Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs,
    photographs, video clips and written and other materials that appear as part of our Service are copyrights,
    trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered
    ("Intellectual Property") owned, controlled or licensed by First Pick Homeschool, LLC. Our Service as a whole is
    protected by
    copyright and trade dress. Nothing in our Service should be construed as granting, by implication, estoppel or
    otherwise, any license or right to use any Intellectual Property displayed or used in our Service, without the prior
    written permission of the Intellectual Property owner. First Pick Homeschool, LLC aggressively enforces its
    intellectual property
    rights to the fullest extent of the law. The names and logos of First Pick Homeschool, LLC, may not be used in any
    way, including in
    advertising or publicity pertaining to distribution of materials from our Service, without prior, written permission
    from First Pick Homeschool, LLC. First Pick Homeschool, LLC prohibits use of any logo of First Pick Homeschool, LLC
    or any of its affiliates as part of a link to or
    from any website unless First Pick Homeschool, LLC approves such link in advance and in writing. Fair use of First
    Pick Homeschool, LLC’s Intellectual
    Property requires proper acknowledgment. Other product and company names mentioned in our Service may be the
    Intellectual Property of their respective owners.</p>
  <p class="h5 text-muted pt-3 pb-3"><strong>Links to Third-Party Websites</strong></p>
  <p>Our Service may contain links to websites owned or operated by parties other than First Pick Homeschool, LLC. Such
    links are
    provided for your reference only. First Pick Homeschool, LLC does not monitor or control outside websites and is not
    responsible for
    their content. First Pick Homeschool, LLC’s inclusion of links to an outside website does not imply any endorsement
    of the material
    in our Service or, unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner,
    operator or sponsor, nor does First Pick Homeschool, LLC’s inclusion of the links imply that First Pick Homeschool,
    LLC is authorized to use any trade
    name, trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the linked website.
  </p>
  <p class="h5 text-muted pt-3 pb-3"><strong>No Warranties; Exclusion of Liability; Indemnification</strong></p>
  <p>OUR SERVICE IS OPERATED BY First Pick Homeschool, LLC ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT REPRESENTATIONS
    OR WARRANTIES OF
    ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, First Pick Homeschool, LLC SPECIFICALLY DISCLAIMS ALL WARRANTIES
    AND CONDITIONS OF
    ANY KIND, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    TITLE AND NONINFRINGEMENT FOR OUR SERVICE AND ANY SERVICES YOU PURCHASE THROUGH IT. First Pick
    Homeschool, LLC SHALL
    NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF OUR SERVICE, FOR YOUR ACTION OR INACTION IN CONNECTION WITH OUR SERVICE OR FOR ANY DAMAGE TO
    YOUR COMPUTER OR DATA OR ANY OTHER DAMAGE YOU MAY INCUR IN CONNECTION WITH OUR SERVICE. YOUR USE OF OUR SERVICES ARE AT YOUR OWN RISK. IN NO EVENT SHALL EITHER First Pick Homeschool, LLC OR THEIR AGENTS
    BE LIABLE FOR ANY
    DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH
    THE USE OF OUR SERVICE, SERVICES PURCHASED THROUGH OUR WEBSITE, THE DELAY OR INABILITY TO USE OUR
    SERVICE OR OTHERWISE ARISING IN CONNECTION WITH OUR WEBSITE OR RELATED SERVICES, WHETHER BASED ON
    CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. IN NO EVENT
    SHALL First Pick Homeschool, LLC’s LIABILITY FOR ANY DAMAGE CLAIM EXCEED THE AMOUNT PAID BY YOU TO First Pick
    Homeschool, LLC FOR THE TRANSACTION
    GIVING RISE TO SUCH DAMAGE CLAIM.</p>
  <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
    EXCLUSION MAY NOT APPLY TO YOU.</p>
  <p>WITHOUT LIMITING THE FOREGOING, First Pick Homeschool, LLC DO NOT REPRESENT OR WARRANT THAT THE INFORMATION IN OUR
    SERVICES IS
    ACCURATE, COMPLETE, RELIABLE, USEFUL, TIMELY OR CURRENT OR THAT OUR SERVICES WILL OPERATE WITHOUT INTERRUPTION OR
    ERROR.</p>
  <p>YOU AGREE THAT ALL TIMES, YOU WILL LOOK TO ATTORNEYS FROM WHOM YOU PURCHASE SERVICES FOR ANY CLAIMS OF ANY NATURE,
    INCLUDING LOSS, DAMAGE, OR WARRANTY. First Pick Homeschool, LLC AND THEIR RESPECTIVE AFFILIATES MAKE NO
    REPRESENTATION OR GUARANTEES
    ABOUT ANY SERVICES OFFERED THROUGH OUR WEBSITE.</p>
  <p>First Pick Homeschool, LLC MAKES NO REPRESENTATION THAT CONTENT PROVIDED ON OUR WEBSITE OR RELATED
    SERVICES ARE
    APPLICABLE OR APPROPRIATE FOR USE IN ALL JURISDICTIONS.</p>
  <p class="h5 text-muted pt-3 pb-3"><strong>Indemnification</strong></p>
  <p>You agree to defend, indemnify and hold First Pick Homeschool, LLC harmless from and against any and all claims,
    damages, costs and
    expenses, including attorneys' fees, arising from or related to your use of our Website or Services
    you purchase through it.</p>
</div>
{% endblock content %}
