{% extends "base.html" %}
{% load i18n static wagtailcore_tags %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>{{ page.title }}</h2>
            <p>
                {% trans "Our Privacy Policy was posted on " %}
                <strong>{{ page.first_published_at }}</strong>
                {% trans " and last updated on " %}
                <strong>{{ page.last_published_at }}</strong>
            </p>
            {{ page.body|richtext }}
        </div>
    </div>
{% endblock content %}
