{% extends "base.html" %}

{% load curriculum_extras %}

{% block head_title %}Curriculum - {{ curriculum.name }}{% endblock %}

{% block content %}
    <h1>{{ curriculum.name }}</h1>
    <p>{{ curriculum.description }}</p>
    <h4>Rating: {{ avg_rating }}</h4>
    {% star_rating avg_rating %}
    {% review_link curriculum %}

    <br/><br/>
    <h4>Publisher</h4>
    <p>{{ curriculum.publisher }}</p>

    {% include 'curriculums/group.html' with name="categories" list=categories %}
    {% include 'curriculums/group.html' with name="subjects" list=subjects %}

    <h3>Grades</h3>
    <p>{{ grades.0 }}{% if grades.1 %} - {{ grades.1 }}{% endif %}</p>

    <h3>Ages</h3>
    <p>{{ ages.0 }}{% if ages.1 %} - {{ ages.1 }}{% endif %}</p>

    <div class="row my-2">
        <div class="col-12">
            <h3>Latest Reviews</h3>
            <h5><a href="{% url 'curriculums:reviews' curriculum.id %}">View All</a></h6>
        </div>
    </div>
    <div class="row my-2">
        {% for review in reviews %}
            {% include 'reviews/card.html' with review=review %}
        {% endfor %}
    </div>
{% endblock %}
