{% extends "base.html" %}

{% load wagtailimages_tags curriculum_extras %}

{% block head_title %}Curriculum - {{ curriculum.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% if curriculum.image %}
                {% image curriculum.image fill-320x240 %}
            {% else %}
                <img class="img-fluid" src="https://via.placeholder.com/320x240" class="mr-3" alt="{{ curriculum.name }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ curriculum.name }}</h1>
            <p>{{ curriculum.description }}</p>
        </div>
        <div class="col-md-3">
            <h4>Rating: {{ avg_rating }}</h4>
            {% star_rating avg_rating %}
            <br/>
            {% review_link curriculum %}
            {% favorite_link curriculum %}
        </div>
    </div>

    <br/><br/>
    <h4>Publisher</h4>
    <p>{{ curriculum.publisher }}</p>

    {% include 'curriculums/group.html' with name="categories" list=categories %}
    {% include 'curriculums/group.html' with name="subjects" list=subjects %}

    <h3>Grades</h3>
    <p>{{ grades.0 }}{% if grades.1 %} - {{ grades.1 }}{% endif %}</p>

    <h3>Ages</h3>
    <p>{{ ages.0 }}{% if ages.1 %} - {{ ages.1 }}{% endif %}</p>

    <div class="row my-2">
        <div class="col-12">
            <h3>Latest Reviews</h3>
            <h5><a href="{% url 'curriculums:reviews' curriculum.id %}">View All</a></h6>
        </div>
    </div>
    <div class="row my-2">
        {% for review in reviews %}
            {% include 'reviews/card.html' with review=review %}
        {% endfor %}
    </div>
{% endblock %}
