{% extends "base.html" %}
{% load curriculum_extras %}

{% block title %}HomeSchool Reviews - Curriculums{% endblock %}

{% block content %}
    <form action="{% url 'curriculums:index' %}" method="get">
        <div class="row">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control" name="search" aria-describedby="search" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% include 'curriculums/radio-group.html' with title="category" name="category" list=categories filters=filters.categories %}
                        {% include 'curriculums/radio-group.html' with title="subject" name="subject" list=subjects filters=filters.subjects %}
                        {% include 'curriculums/radio-group.html' with title="grade" name="grade" list=grades filters=filters.grades %}
                        {% include 'curriculums/radio-group.html' with title="age" name="age" list=ages filters=filters.ages %}
                        {% include 'curriculums/radio-group.html' with title="religious preference" name="preference" list=preference filters=filters.preference %}
                    </li>
                </ul>
                <br/>
                <p class="text-muted">Don't see what you're looking for?<a href="{% url 'curriculums:create' %}">Submit a curriculum for review</a></p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-9">
                        <h5 class="text-muted">Results: {% if is_paginated %} {{page_obj.paginator.count}} {% else %} {{curriculums|length}} {% endif %}</h5>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <select class="custom-select" name="sort">
                            {% for value, label in sorters %}
                                <option value="{{value}}" {% if value|stringformat:"i" == sort %} selected {% endif %}>{{label}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if curriculums %}
                            <ul class="list-unstyled">
                                {% for curriculum in curriculums %}
                                    <li class="media my-2">
                                        <img src="https://via.placeholder.com/64" class="mr-3" alt="{{ curriculum.name }}">
                                        <div class="media-body">
                                            <h5><a href="{% url 'curriculums:detail' curriculum.id %}">{{ curriculum.name }}</a></h5>
                                            <p>{{ curriculum.description }}</p>
                                            {% if curriculum.avg_rating > 0 %}
                                                <h6>Rating: {{ curriculum.avg_rating }}</h6>
                                                {% star_rating curriculum.avg_rating %}
                                            {% else %}
                                                No reviews
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No curriculums are available.</p>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {% if is_paginated %}
                            <nav aria-label="Curriculum page navigation">
                                <ul class="pagination">
                                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                           href="{% if page_obj.has_previous %}?{% url_replace page=page_obj.previous_page_number %}{% endif %}"
                                           {% if not page_obj.has_previous %}tabindex="-1" aria-disabled="true"{% endif %}
                                           aria-label="Previous">Previous</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <p class="page-link" tabindex="-1" aria-disabled="true">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                        </p>
                                    </li>
                                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                           href="{% if page_obj.has_next %}?{% url_replace page=page_obj.next_page_number %}{% endif %}"
                                           {% if not page_obj.has_next %}tabindex="-1" aria-disabled="true"{% endif %}
                                           aria-label="Next">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
