<header>
    <nav class="navbar navbar-light bg-light">
        <div class="p-2 flex-grow-1 bd-highlight"><a class="navbar-brand" href="/">Homeschool Reviews</a></div>
        <div class="p-2 bd-highlight"><a href="/blog">Blog</a></div> 
        <div class="p-2 bd-highlight"><a href="/about">About</a></div> 
        <div class="p-2 bd-highlight"><a href="/curriculums">Curriculums</a></div> 
        {% if user.is_authenticated %}
        <div class="p-2 bd-highlight"><a href="/accounts/logout">Logout</a></div> 
        {% else %}
        <div class="p-2 bd-highlight"><a href="/accounts/login">Login</a></div>
        {% endif %}
    </nav>
</header>