{% extends "base.html" %}
{% load curriculum_extras %}

{% block title %}Homeschool Reviews - Curriculums - {{ curriculum.name }}{% endblock %}

{% block content %}
<h1>{{ curriculum.name }}</h1>
<p>{{ curriculum.description }}</p>
{% review_link curriculum %}

{% include 'curriculums/group.html' with name="categories" list=categories %}
{% include 'curriculums/group.html' with name="subjects" list=subjects %}
{% include 'curriculums/group.html' with name="grades" list=grades %}
{% include 'curriculums/group.html' with name="levels" list=levels %}
{% include 'curriculums/group.html' with name="ages" list=ages %}

<div class="row my-2">
    <div class="col-12">
        <h3>Latest Reviews</h3>
        <h5><a href="{% url 'curriculums:reviews' curriculum.id %}">View All</a></h6>
    </div>
</div>
<div class="row my-2">
    {% for review in reviews %}
    <div class="col-12 col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-12">
                        {% include 'reviews/text.html' with review=review %}
                    </div>
                    <div class="col-12 pt-4">
                        <h5>Rating: {{review.rating}}</h5>
                        {% star_rating review %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}