{% extends "base.html" %}

{% block title %}Homeschool Reviews - Curriculums - {{ curriculum.name }}{% endblock %}

{% block content %}
<h1>{{ curriculum.name }}</h1>
<p>{{ curriculum.description }}</p>
{% include 'curriculums/group.html' with name="categories" list=categories %}
{% include 'curriculums/group.html' with name="subjects" list=subjects %}
{% include 'curriculums/group.html' with name="grades" list=grades %}
{% include 'curriculums/group.html' with name="levels" list=levels %}
{% include 'curriculums/group.html' with name="ages" list=ages %}
{% endblock %}