{% extends "base.html" %}

{% block title %}HomeSchool Reviews - Curriculums{% endblock %}

{% block content %}
{% if curriculums %}
<ul class="list-unstyled">
    {% for curriculum in curriculums %}
    <li class="media my-2">
        <img src="https://via.placeholder.com/64" class="mr-3" alt="{{ curriculum.name }}">
        <div class="media-body">
            <h5><a href="{% url 'curriculums:detail' curriculum.id %}">{{ curriculum.name }}</a></h5>
            <p>{{ curriculum.description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No curriculums are available.</p>
{% endif %}
{% endblock %}
