<a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom collapsed" data-toggle="collapse" href="#{{ name }}-collapse" aria-expanded="false">{{ name.capitalize }}</a>
<div class="collapse" id="{{ name }}-collapse">
    <div class="form-group">
        {% for item in list %}
        <div class="form-check">
            <input class="form-check-input" name="{{ name }}" type="checkbox" value="{{ item.id }}">
            <label class="form-check-label" for="{{ item.name }}-{{ item.id }}">{{ item }}</label>
        </div>
        {% endfor %}
    </div>
</div>